<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link rel= "stylesheet" type= "text/css" href= "static/style/main.css">
        <title>Ngee Ann City</title>
    </head>
    <body>
        <!-- Web page body -->
        <h1>Ngee Ann City</h1>
        <nav>
            <ul>
                <li><a href="start_game" value = "start_game">Start Game</a></li>
                <li><a href="#2">Load Saved Game</a></li>
                <li><a href="#3">Display High Score</a></li>
                <li><a href="exit_game" value = "exit_game">Exit Game</a></li>
            </ul>
        </nav>
    </body>
</html>