<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "static/style/start.css">
        <title>Ngee Ann City</title>
    </head>
    <body>
        <!-- Web page body -->
        <div class="in-game-menu">
            <h1>Ngee Ann City</h1>
            <br>
            <p>Coins: {{cn}}</p>
            <p>Turns: {{tn}}</p>
            <p>Points: Not available yet</p>
            <br>
            <p>Building options: </p>
            <p>1. Build a {{c1}}</p>
            <p>2. Build a {{c2}}</p>
            <br>
            <!--Input to select the plot-->
            <form action="#" method="post">
                <p>Plot: </p>
                <p><input type="text" name="Plt"/></p>
                <p>Building choice: </p>
                <p><input type="text" name="C"/></p>
                <br>
                <button type="submit" value="submit" class="btn btn-primary">Build building</button>
            </form>

            <!--Button for the rest of the options-->
            <!--
            <a href="start_game" value = "start_game" >
                <button type="button" class="btn btn-primary">1. Build a {{c1}}</button>
            </a>
            <a href="start_game" value = "start_game" >
                <button type="button" class="btn btn-primary">2. Build a {{c2}}</button>
            </a>
            -->
            <br>
            <br>
            <a href="/" value = "/" >
                <button type="button" class="btn btn-danger">⇦ Exit game</button>
            </a>

        </div>

        <div class="grid-side">

            <div class="grid-container">
                {% for x in gridz %}
                    {% for i in x %}
                        <div>{{i}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

          
        <!-- Bootstrap Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>